@font-face {
  font-family:'WorkSans';
  src: url('/assets/fonts/static/WorkSans-Bold.ttf') format(truetype), url(/assets/fonts/static/WorkSans-Regular.ttf) format(truetype), url(/assets/fonts/static/WorkSans-SemiBold.ttf) format(truetype);
  font-weight: 400;
}
:root{
  --branco: #FFFFFF;
  --roxo: #38163D;
  --cinza-claro: #908991;
  --cor-de-fundo: #F3E7FB;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
    
}
body{
  background-image: url(/assets/images/background-pattern-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'WorkSans', sans-serif;
  font-size: 14px;
  color: #38163D;
  background-color: var(--cor-de-fundo);
}
.pai{
  display: flex;
  justify-content: center;
  margin-top: 30%;
}
.container{
  background-color: var(--branco);  
  width: 85%;
  padding: 1.7em;
  border-radius: 8px;
}
.prin{
  font-weight: 700;
}
.img__estrela{
  align-items: center;
  width: 1.6em;
}
.cont__titulo{
  display: flex;
  align-items: center;
  gap: 20px;
  
}
.secun{
  justify-content: space-between;
}
.titulo__secun{
  padding: 2em 0;
}
.container__botao{
  display: none; 
}
.textoUm, .textoDois, .textoTres, .textoQuatro {
  color: var(--cinza-claro);
  font-weight: 400;
  display: none;
}
.ativo{
  display: block;
}
.button__minimiza-um, .button__minimiza-dois, .button__minimiza-tres, .button__minimiza-quatro{
  display: none;
}
.none{
  display: none;
}

@media screen and (min-width: 1024px) {
  body{
    background-image: url(/assets/images/background-pattern-desktop.svg);
  }
  .pai{
    margin-top: 10%;
    margin: 10% auto;
    width: 60%;
  }
  .prin{
    font-size: 2em;
  }
}

